@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/outfit/outfit-thin.woff2') format('woff2'),
    url('/assets/fonts/outfit/outfit-thin.woff') format('woff'),
    url('/assets/fonts/outfit/outfit-thin.ttf') format('truetype'),
    url('/assets/fonts/outfit/outfit-thin.eot') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/outfit/outfit-extralight.woff2') format('woff2'),
    url('/assets/fonts/outfit/outfit-extralight.woff') format('woff'),
    url('/assets/fonts/outfit/outfit-extralight.ttf') format('truetype'),
    url('/assets/fonts/outfit/outfit-extralight.eot') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/outfit/outfit-light.woff2') format('woff2'),
    url('/assets/fonts/outfit/outfit-light.woff') format('woff'),
    url('/assets/fonts/outfit/outfit-light.ttf') format('truetype'),
    url('/assets/fonts/outfit/outfit-light.eot') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/outfit/outfit-regular.woff2') format('woff2'),
    url('/assets/fonts/outfit/outfit-regular.woff') format('woff'),
    url('/assets/fonts/outfit/outfit-regular.ttf') format('truetype'),
    url('/assets/fonts/outfit/outfit-regular.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/outfit/outfit-medium.woff2') format('woff2'),
    url('/assets/fonts/outfit/outfit-medium.woff') format('woff'),
    url('/assets/fonts/outfit/outfit-medium.ttf') format('truetype'),
    url('/assets/fonts/outfit/outfit-medium.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/outfit/outfit-semibold.woff2') format('woff2'),
    url('/assets/fonts/outfit/outfit-semibold.woff') format('woff'),
    url('/assets/fonts/outfit/outfit-semibold.ttf') format('truetype'),
    url('/assets/fonts/outfit/outfit-semibold.eot') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/outfit/outfit-bold.woff2') format('woff2'),
    url('/assets/fonts/outfit/outfit-bold.woff') format('woff'),
    url('/assets/fonts/outfit/outfit-bold.ttf') format('truetype'),
    url('/assets/fonts/outfit/outfit-bold.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/outfit/outfit-extrabold.woff2') format('woff2'),
    url('/assets/fonts/outfit/outfit-extrabold.woff') format('woff'),
    url('/assets/fonts/outfit/outfit-extrabold.ttf') format('truetype'),
    url('/assets/fonts/outfit/outfit-extrabold.eot') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/outfit/outfit-black.woff2') format('woff2'),
    url('/assets/fonts/outfit/outfit-black.woff') format('woff'),
    url('/assets/fonts/outfit/outfit-black.ttf') format('truetype'),
    url('/assets/fonts/outfit/outfit-black.eot') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

